@()(implicit request: play.api.mvc.RequestHeader)

@moreScripts() = {
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.0.0/jquery.sparkline.min.js"></script>
}

@main("Iteratees Test", moreScripts) {

<div class="row">
    <div class="span12">
        <h1>Welcome to the Iteratees Sample!</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        Below you can see the traffic of the streams in the application, in real time. The traffic is retrieved via Server Side Events, if your browser doesn't support them this page won't work.
    </div>
</div>
<hr/>
<div class="row">
    <div class="span6">
        <div id="messages">
        </div>
    </div>
    <div class="span6">
        <h3>Messages per second</h3>
        <div id="chart">
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    if (!!window.EventSource) {
        // Chart values
        var d3data = [];
        var oldKey = 0;
        var value = 0;

        //SSE vars
        var feed = new EventSource('@routes.Application.stream');
        var counter = 0;

        // connection was opened
        feed.addEventListener('open', function (e) {
            var el = $('<div class="message"><p>Stream open</p></div>')
            $('#messages').append(el)
        }, false);


        // receive message
        feed.addEventListener('message', function(e) {
            if (e.origin != 'http://localhost:9000') {
                var el = $('<div class="message"><p>Origin was not http://localhost:9000</p></div>');
                $('#messages').append(el);
                feed.close();
                return;
            }

            var data = JSON.parse(e.data);

            // Add message to list
            var el = $('<div class="message"><p></p></div>');
            $("p", el).text(counter+") Msg["+getFormattedDate()+"]: " + data.text);
            $('#messages').append(el);

            //Add data to graph
            var dt = new Date();
            var key = dt.getSeconds();
            if(key == oldKey) {
                value++;
            } else {
                oldKey = key;
                d3data.push(value);
                value = 1;
                if (d3data.length > 30) {
                    d3data.splice(0,1);
                }

                $("#chart").sparkline(d3data, {
                    type: 'line',
                    width: '500',
                    height: '450',
                    chartRangeMin: 0,
                    drawNormalOnTop: false});
            }

            // Maintain message list
            counter++;
            if(counter >= 15){
                $('#messages').find('.message:first-child').remove();
            }

        }, false);


        // error handling
        feed.addEventListener('error', function (e) {
            if (e.eventPhase == EventSource.CLOSED) {
                var el = $('<div class="message"><p>Connection Closed</p></div>');
                $('#messages').append(el);
                feed.close();
            } else {
                var el = $('<div class="message"><p></p></div>');
                $("p", el).text("Unknown error:" + e);
                $('#messages').append(el);
            }
        }, false);


        // close feed when leaving window
        $(window).unload(function(){
            console.log("Closing connection");
            feed.close();
        });

    } else {
      $("#messages").html("Serverside Send Event not supported by this browser");
    }

})
</script>
}