@()(implicit request: play.api.mvc.RequestHeader)

@main("Iteratees Test") {

<div class="row">
    <div class="span12">
        <h1>Welcome to the Iteratees Sample!</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        Below you can see the traffic of the streams in the application, in real time. The traffic is retrieved via WebSockets, if your browser doesn't support them this page won't work.
    </div>
</div>
<hr/>
<div class="row">
    <div class="span12">
        <div id="messages">
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var streamSocket = new WS("@routes.Application.readStreamData.webSocketURL()");
    streamSocket.onmessage = receiveEvent;
})
</script>
}